<template>
    <div class="badges">
        You have <span class="badge-parens">({{unread}})</span> new notification.
    </div>
</template>
<script>
import { EventBus } from '../event-bus.js';

export default {
    data () {
        return {
            messages: []
        }
    },
    created: function () {
        var _self = this;
        // document.addEventListener('message-updated', function (e) {
        //      _self.messages = e.detail;
        // });

        EventBus.$on('message-updated', message => {
            _self.messages = message;
        });
    },
    watch: {
        unread: function(newVal, oldVal) {
            console.log(newVal, oldVal);
        }
    },
    computed: {
        unread: function() {
            return this.messages.filter(function(message) {
                return !message.viewed
            }).length;
        }
    }
}

</script>
<style>
    .badge-parens {
        background-color: #eee;
        color: red;
    }
</style>
