<template>
    <div class="message-list">
        <ul>
             <li v-for="message in messages">
                Mark as read <input type="checkbox" v-model="message.viewed">
                <span :class="{readable: message.viewed}">{{message.title}}</span>
            </li>
        </ul>
    </div>
</template>
<script>
import { EventBus } from '../event-bus.js';

export default {
    data () {
        return {
            messages: [],
        }
    },
    created: function () {
        var _self = this;
        // document.addEventListener('message-added', function (e) {
        //      _self.messages.push(e.detail);
        // });

        EventBus.$on('message-added', message => {
            _self.messages.push(message);
        });
    },
    watch: {
        messages: function(newVal, oldVal) {
            // var messagesEvent = new CustomEvent('message-updated', {detail: newVal});
            // document.dispatchEvent(messagesEvent);

            EventBus.$emit('message-updated', newVal);
        }
    }
}
</script>

<style>


</style>
