
<template>
    <div class="msgForm">
        <h2>Add New Message</h2>
        <form v-on:submit.prevent="addNewMessage">
            <input type="text" name="name" v-model="newMessage.title" placeholder="title"/>
            <br />
            <input type="submit" value="Add" />
        </form>
    </div>
</template>
<script>
import { EventBus } from '../event-bus.js';

export default {
    props: [

    ],
    data () {
        return {
            newMessage: {},
        }
    },
    methods: {
        addNewMessage: function(e) {
            var newMessage = {
                title: this.newMessage.title,
                viewed: false
            };

            // var messageEvent = new CustomEvent('message-added', {detail: newMessage});
            // document.dispatchEvent(messageEvent);

            EventBus.$emit('message-added', newMessage);
        }
    }
}
</script>

<style>
.msgForm {
    border: 1px solid #000;
    padding: 10px;
}
</style>
