<template>
    <div class="todo-list">
        <h3>List of Tasks</h3>
        <ul>
             <li v-for="todo in todoList">
                <span>{{todo.title}}</span>
                <button @click="done(todo)">Completed</button>
            </li>
        </ul>
        <paginator :pagination="pagination" :totalItems="todosNumber" v-on:loaddata="navigate"></paginator>
    </div>
</template>
<script>
import store from '../store/app-store'
import Paginator from './paginator/Paginator'

export default {
    store,
    components: { Paginator },
    data() {
        return {
            pagination: {
                per_page: 10,
                current_page: 1
            }
        }
    },
    methods: {
        done: function(todo) {
            this.$store.commit('doneTask', todo.id)
        },

        navigate: function(page) {
            this.pagination.current_page = page;
        }

    },
    computed: {
        todos: function() {
            return this.$store.getters.todos;
        },
        todosNumber: function() {
            return this.$store.getters.todosNumber;
        },
        getLimitedTodos: function() {
            var from = this.pagination.current_page - 1;
            return this.$store.getters.limitedTodos(from, this.pagination.per_page);
        },
        todoList: function() {
            if (this.pagination) {
                return this.getLimitedTodos;
            } else {
                return this.todos;
            }
        }
    },
    created: function () {
        this.$emit('load');
    }
}
</script>

<style scoped>
    button {
        background: green;
    }
</style>
