<template>
    <div class="completed-list">
        <h3>List of completed task</h3>
        <ul>
            <li v-for="todo in completedTodos">
                <span>{{todo.title}} </span>
                <button @click="undoTodo(todo)">Undo</button>
            </li> 
        </ul>
    </div>
</template>
<script>
import store from '../store/app-store'

export default {
    store,
    methods: {
        undoTodo: function(todo) {
            this.$store.commit('undoCompleted', todo.id)
        }
    },
    computed: {
        completedTodos: function () {
            return this.$store.getters.completedTodos;
        }
    }
}
</script>

<style scoped>
    button {
        background: red;
    }
</style>
