
<template>
    <div>
        <h2>Todo App for Users</h2>
        <div class="container">
            <div class="todoListContainer">
                <todo-list v-on:load="getTodos"></todo-list>
            </div>
            <div  class="todoListContainer">
                <todo-completed></todo-completed>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    name: 'todo-app',
    methods: {
        getTodos: function (state) {
            var _self = this;
            fetch('https://jsonplaceholder.typicode.com/todos')
            .then((response) => response.json())
            .then(function(data) {
                _self.$store.state.todos = data;
            })
        }
    }
}
</script>

<style>
    .todoListContainer {
        float: left;
        width: 500px;
        margin: 10px;
        border: 1px solid #333;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul li {
        padding: 5px;
        margin: 2px 5px;
        border: 1px solid #999;
        background: #EEE;
        color: #000;
    }
</style>
