<template>
    <div class="user-list">
        <h2>List of User</h2>
        <ul>
             <li v-for="contact in contacts">
                <span :class="{contacted: contact.contacted}">{{contact.name}} {{contact.email}}</span>
                <button v-on:click="deleteContact(contact)">X</button>
            </li>
        </ul>
    </div>
</template>
<script>

export default {
    data () {
        return {
            contacts: [],
        }
    },
    methods: {
        deleteContact: function(contact) {
            this.contacts.splice(this.contacts.indexOf(contact), 1);
        },

        getContactList: function() {
            var _self = this;
            fetch('https://jsonplaceholder.typicode.com/users')
            .then((response) => response.json())
            .then(function(data) {
                _self.contacts = data;
            })
        }
    },
    created: function () {
        this.getContactList();
    }
}
</script>

<style>

</style>
