
<template>
    <div>
        <h1>User Dashboard</h1>
        <div>Hello, {{fullName}}</div>
        <badges-box></badges-box>
        <message-list></message-list>
        <message-form></message-form>
        <user-list></user-list>
    </div>
</template>
<script>

export default {
    name: 'user-profile',
    props: [

    ],
    data () {
        return {
            user: {
                firstName: 'Ziaul',
                lastName: 'Haq'
            },
        }
    },
    methods: {

    },
    computed: {
        fullName: function() {
            return this.user.firstName + ' ' + this.user.lastName;
        }
    }
}
</script>

<style>

</style>
