<template>
  <div id="app">
    <user-profile></user-profile>
    <todo-app></todo-app>
  </div>
</template>

<script>

import UserProfile from './components/UserProfile'
import TodoApp from './components/TodoApp'

export default {
  name: 'vue-app',
  components: { UserProfile, TodoApp }
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  width: 1080px;
}

#app ul {
  list-style: none;
  text-align: left;
}
</style>
