<template>
    <ul class="pagination">
        <li v-if="currentPage > 1">
            <a href="javascript:void(0)" aria-label="Previous" v-on:click="decreasePage">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li v-for="page in pagesNumber" :class="{'active': page == currentPage}">
            <a href="javascript:void(0)" v-on:click="changePage(page)">{{ page }}</a> 
        </li> 
        <li v-if="currentPage < totalPages">
            <a href="javascript:void(0)" aria-label="Next" v-on:click="increasePage">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</template>
<script>
    //import store from '../../store/app-store'

    export default {
        name: 'paginator',
        props: {
            pagination: {
                type: Object,
                required: true
            },
            totalItems: {
                type: Number,
                default: 1
            }
        },
        computed: {
            currentPage: function () {
                //return this.$store.getters['paginationModule/currentPage'];
                return this.$store.getters.currentPage;
            },
            totalPages: function() {
                return Math.ceil(parseFloat(this.totalItems / this.pagination.per_page));
            },
            pagesNumber: function() {
                var pagesArray = [];
                for (var from = 1; from <= this.totalPages; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        methods : {
            changePage: function (page) {
                //this.$store.commit('paginationModule/changePage', page);
                this.$store.commit('changePage', page);
                this.$emit('loaddata', this.currentPage);
            },

            increasePage: function () {
                //this.$store.commit('paginationModule/increase');
                this.$store.commit('increase');
                this.$emit('loaddata', this.currentPage);
            },

            decreasePage: function () {
                //this.$store.commit('paginationModule/decrease');
                this.$store.commit('decrease');
                this.$emit('loaddata', this.currentPage);
            }

        }
    }
</script>

<style>
    .pagination {
        padding: 10px;
    }
    .pagination li {
        display: inline-block;
        border: none;
        background: transparent;
        margin: 1px;
        font-size: 11px;
    }

    .pagination li a {
        border: 1px solid #999;
        padding: 2px 6px;
        background: #eee;
        text-decoration: none;
        color: #999;
    }

    .pagination li.active a {
        font-weight: bold;
        color: #000;
    }
</style>